# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Mijn PC\OneDrive - UC Leuven-Limburg\Documenten\School\Ucll\Fase 1\Semester2\Webontwikkeling\Labos\r0844703_clientserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
